@page {
    size: A5 portrait;
    margin: 0.5cm;

    @bottom-right {
        content: counter(page) " / " counter(pages);
        font-size: 11px;
        margin-bottom: 0.25cm;
    }

    @bottom-left {
        content: "v2.0";
        font-size: 11px;
        margin-bottom: 0.25cm;
    }
}
