{% extends "base.html" %} {% load static %} {% block dailyOrder %}
<div class="row">
  <div class="col-12">
    <div class="card mb-4 mt-3">
      <div class="card-header bg-dark text-white">
        <i class="fas fa-table me-1"></i>
        Accept pharmacies
      </div>
      <div class="card-body table-striped">
        <table
          id="testTbl"
          data-toggle="table"
          data-pagination="true"
          data-search="true"
          data-show-columns="true"
          data-show-toggle="true"
          data-show-columns-search="true"
          data-show-pagination-switch="true"
          data-show-fullscreen="true"
          data-searchable="true"
          data-show-print="true"
          data-print-as-filtered-and-sorted-on-ui="true"
          data-mobile-responsive="true"
          data-key-events="true"
          data-show-search-clear-button="true"
          data-filter-control="true"
          data-show-export="true"
          data-click-to-select="true"
          data-unique-id="username"
        >
          <thead>
            <tr>
              <th
                data-field="state"
                data-checkbox="true"
                data-visible="false"
              ></th>
              <th
                data-field="name"
                data-sortable="true"
                data-filter-control="input"
              >
             اسم الصيدلية
              </th>
              <th
                data-field="username"
                data-sortable="true"
                data-filter-control="input"
              >
                رقم الموبايل
              </th>
              <th
                data-field="is_ph"
                data-sortable="true"
                data-filter-control="input"
              >
                قبول الصيدلية
              </th>
            </th>
            
            </tr>
          </thead>
          <tbody>
            {% for pharmacy in pharmacies %}
            <tr>
              <td></td>
              <td>{{pharmacy.name}}</td>
              <td>{{pharmacy.username}}</td>
              <td>
                {% if pharmacy.is_ph %}
                Accepted
                {% else %}
                <a href="/accounts/phwait/{{pharmacy.id}}" class="btn btn-success m-auto">Accept</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
