{% extends "base.html" %} 

{% block Content %}
<div class="row">
  <div class="col-12">
    <div class="card mb-4 mt-3">
      <div class="card-header bg-dark text-white">
        <i class="fas fa-table me-1"></i>
        All Product
      </div>
      <form method="get" class="p-3">
        {% for field in f.form %}
        <div class="col-md-6 col-xl-4">
          <label for="{{ field.id_for_label }}" class="form-label is-invalid" style="font-weight:500;">Search by name</label>
          <div>{{ field }}</div>
          {% if field.errors %}
          <div class="invalid-feedback">
            {{ field.errors }}
          </div>
          {% endif %}
        </div>
        {% endfor %}
        <div class="pt-3">
          <input class="btn btn-primary" type="submit" />
          <a class="btn btn-primary" href="?">Clear</a>
        </div>
      </form>
      
      <div class="card-body table-striped">
        <table id="testTbl" data-toggle="table" data-search="true" data-show-columns="true" data-show-toggle="true" data-show-columns-search="true" data-show-fullscreen="true" data-show-print="true" data-print-as-filtered-and-sorted-on-ui="true" data-mobile-responsive="true" data-key-events="true" data-filter-control="true" data-show-export="true" data-click-to-select="true" data-unique-id="id">
          <thead>
            <tr>
              <th data-field="state" data-checkbox="true" data-visible="false"></th>
              <th data-field="id" data-sortable="true">
                id
              </th>

              <th data-field="name" data-sortable="true">
                الصنف
              </th>
              <th data-field="e_name" data-sortable="true">
                e_name
              </th>
              <th data-field="public_price" data-sortable="true">
                السعر
              </th>

            </tr>
          </thead>
          <tbody>
            {% for product in page_obj %}
            <tr>
              <td></td>
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td>{{product.e_name}}</td>
              <td>{{product.public_price}}</td>
            {% endfor %}
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1">&laquo; first</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            <li class="page-item">
              <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock Content %}