{% extends "base.html" %} {% load static %} {% block buttons %}
<div class="row mt-4">
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/do/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">Orderitems</button>
    </a>
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/listph/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">
        List Pharmacies
      </button>
    </a>
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/listorders/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">Orders</button>
    </a>
  </div>
</div>
<hr />
<div class="row mt-4">
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/ho/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">
        Today's offers
      </button>
    </a>
  </div>
  
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/resell/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">
        Resell Products
      </button>
    </a>
  </div>
  
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/admin/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">Admin Panal</button>
    </a>
  </div>
</div>
<hr />
<div class="row mt-4">
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/ap/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">All Product</button>
    </a>
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/update/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">Update Offer</button>
    </a>
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/market/upload/images/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">
        Upload Images
      </button>
    </a>
  </div>
</div>
<hr />
<div class="row mt-4">
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/np/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">New Items</button>
    </a>
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/sc/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">
        Upload Codes
      </button>
    </a>
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/liststore/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">List Stores</button>
    </a>
  </div>
</div>
<hr />
<div class="row mt-4">
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/listcodes/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">
        Stores Codes
      </button>
    </a> 
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/accept/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">
        Accept Pharmacies
      </button>
    </a>
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/ourorder/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">Our Orders</button>
    </a>
  </div>
</div>
<hr />
<div class="row mt-4">
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/listcodes/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">
        Stores Codes
      </button>
    </a> 
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/required/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">
        Required Products
      </button>
    </a>
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="/complaints/" style="text-decoration: none">
      <button type="button" class="btn btn-primary btn-lg">Complaints</button>
    </a>
  </div>
</div>


{% endblock %}
