{% extends "base.html" %} {% load static %} {% block newitems %}
<div class="row">
  <div class="col-12">

    <div class="card mb-4 mt-3">
      <div class="card-header bg-dark text-white">
        <i class="fas fa-table me-1"></i>
        New Items
        <form
        action="/market/product/sheet/"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <input type="file" class="form-control" name="new_items" />
        <input type="submit" class="btn btn-success" value="submit" />
      </form>
{% endblock %}

