{% load static %}

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tableExport.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jspdf.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jspdf.plugin.autotable.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.1/dist/bootstrap-table.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table/extensions/print/bootstrap-table-print.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table/extensions/mobile/bootstrap-table-mobile.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table/extensions/key-events/bootstrap-table-key-events.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table/extensions/export/bootstrap-table-export.min.js' %}"></script>
